.flex-container{
   justify-content: start;
}
.header_navigation{
    margin: auto;
}
.header_reference{
    display: block;
    padding: 0.5rem;
    width: 150px;
}
.header_reference__img{
    display: block;
    margin: auto;
}
.header_reference__text{
    display: block;
    text-align: center;
}