.main_content__word{
    list-style-type: none;
    width: fit-content;
    margin: 25px auto;
}
.main_content__word > li > span{
    line-height: 30px; 
    vertical-align: middle;
}
.main_content__word__icon{
    margin-right: 25px
}
.word{
    font-size: 20px;
}